.user-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px;
}

.user-name {
  flex: 1;
  text-align: left;
  font-size: 16px;
}

.button-container {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
}

.submit-button{
  margin-top: 20px;
}

.button-container ion-button {
  width: 50px; /* Ancho del botón cuadrado */
  height: 50px; /* Alto del botón cuadrado */
  margin-left: 10px; /* Espaciado entre los botones */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  --border-radius: 8px; /* Bordes redondeados */
}
.container-father {
  margin: 20px auto;
  width: 90%;
}

.button-container ion-icon {
  font-size: 24px; /* Tamaño del ícono */
}
