<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Crear Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <form *ngIf="orderCreate === 0" [formGroup]="orderForm" (ngSubmit)="onSaveOrder()">
      <!-- Número de Pedido -->
      <ion-item>
        <ion-label position="floating">Número de Pedido</ion-label>
        <ion-input formControlName="orderNum" type="number" required></ion-input>
      </ion-item>

      <!-- Usuario (Autocompletado) -->
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input formControlName="userName" type="number" readonly></ion-input>
      </ion-item>

      <!-- Número de Mesa -->
      <ion-item>
        <ion-label position="floating">Mesa</ion-label>
        <ion-select formControlName="boardNum" interface="popover" placeholder="Selecciona una mesa">
          <ion-select-option *ngFor="let board of allBoards" [value]="board.boardnum">
            Mesa {{ board.boardnum }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Fecha del Pedido -->
      <ion-item>
        <ion-label position="floating">Fecha del Pedido</ion-label>
        <ion-input formControlName="orderDate" displayFormat="DD-MM-YYYY" readonly></ion-input>
      </ion-item>

      <!-- Precio Total -->
      <!-- <ion-item>
        <ion-label position="floating">Precio Total</ion-label>
        <ion-input formControlName="totalPrice" type="number" required></ion-input>
      </ion-item> -->

      <!-- Estado del Pedido -->
      <ion-item>
        <ion-label position="floating">Estado</ion-label>
        <ion-select formControlName="status" interface="action-sheet">
          <ion-select-option value="Pendiente">Pendiente</ion-select-option>
          <ion-select-option value="En Proceso">En Proceso</ion-select-option>
          <ion-select-option value="Completado">Completado</ion-select-option>
          <ion-select-option value="Cancelado">Cancelado</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Botón Guardar -->
      <div class="submit-button">
        <ion-button type="submit" color="success" expand="block" [disabled]="orderForm.invalid">Crear Pedido</ion-button>
      </div>
    </form>
  </div>
</ion-content>
