<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ver Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container-father">
    <form [formGroup]="productForm" (ngSubmit)="onEditProduct()">
      <ion-item>
        <ion-label position="floating">Nombre Producto</ion-label>
        <ion-input formControlName="productName" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Precio</ion-label>
        <ion-input formControlName="price" type="number" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Stock</ion-label>
        <ion-input formControlName="stock" type="number" required></ion-input>
      </ion-item>
      <ion-list>
        <ion-item>
          <ion-select formControlName="type" label="Tipo" interface="action-sheet" label-placement="floating" required>
            <ion-select-option value="Guarnicion">Guarnicion</ion-select-option>
            <ion-select-option value="Liquidos">Liquidos</ion-select-option>
            <ion-select-option value="Postre">Postre</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <div class="password">
        <ion-button id="addButton" type="submit" color="primary" [disabled]="productForm.invalid">Guardar</ion-button>
      </div>
      <div class="password" style="margin-top: 10px;">
        <ion-button id="backButton" color="primary" (click)="navigateToProduct()">Volver</ion-button>
      </div>
    </form>
  </div>
</ion-content>
