<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gestión de Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col>
      <!-- Botón para agregar un nuevo usuario -->
      <ion-button id="addUserButton" color="success" (click)="ToAddProduct()">Añadir Producto</ion-button>
    </ion-col>
    <ion-col class="ion-text-right">
      <!-- Botón para sincronizar -->
      <ion-button id="syncButton" color="secondary" (click)="syncUsersWithApi()">Sincronizar</ion-button>
    </ion-col>
  </ion-row>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Productos</ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-label position="floating">Buscar Producto</ion-label>
      <ion-input #searchInput placeholder="Ingrese nombre de Producto" (ionInput)="onInputChange($event)"></ion-input>
    </ion-item>

    <div class="password">
      <ion-button id="searchButton" color="primary" (click)="searchProduct()" (ionInput)="onInputChange($event)">Buscar</ion-button>
    </div>

    <ion-card-content>
      <ion-list *ngIf="find">

        <ion-item *ngFor="let product of filteredProducts">
          <!-- Contenedor principal del producto -->
          <div class="user-container">
            <ion-label class="user-name">{{ product.productName }}</ion-label> <!-- Usando "product" en minúsculas -->
            
            <ion-thumbnail slot="start"></ion-thumbnail>
            
            <ion-label></ion-label>
            
            <div class="button-container">
              <ion-button class="view-button" fill="clear" (click)="onViewProductDetails(product)">
                <ion-icon name="eye-outline"></ion-icon> <!-- Icono para ver detalles -->
              </ion-button>
              <ion-button class="edit-button" fill="clear" (click)="onEditProduct(product)">
                <ion-icon name="create-outline"></ion-icon> <!-- Icono para editar -->
              </ion-button>
              <ion-button class="delete-button" fill="clear" (click)="onDeleteProduct(product)">
                <ion-icon name="trash-outline"></ion-icon> <!-- Icono para eliminar -->
              </ion-button>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>  
</ion-content>
      