<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Editar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container-father">
    <form [formGroup]="productForm" (ngSubmit)="onEditProduct()">
      <ion-item>
        <ion-label position="floating">Nombre Producto</ion-label>
        <ion-input formControlName="productName" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Precio</ion-label>
        <ion-input formControlName="price" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Stock</ion-label>
        <ion-input type="email" formControlName="stock" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Tipo</ion-label>
        <ion-input type="email" formControlName="type" required></ion-input>
      </ion-item>
      <div class="password">
        <ion-button id="addButton" type="submit" color="primary" [disabled]="productForm.invalid">Guardar</ion-button>
      </div>
      <div class="password">
        <ion-button id="backButton" type="submit" color="primary" (click)="navigateToProduct()">Volver</ion-button>
      </div>
    </form>
  </div>
</ion-content>