<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gestión de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col>
      <!-- Botón para agregar un nuevo usuario -->
      <ion-button id="addUserButton" color="success" (click)="ToAddUser()">Añadir Usuario</ion-button>
    </ion-col>
    <ion-col class="ion-text-right">
      <!-- Botón para sincronizar -->
      <ion-button id="syncButton" color="secondary" (click)="syncUsersWithApi()">Sincronizar</ion-button>
    </ion-col>
  </ion-row>

  <!-- Input para buscar usuario -->
  <ion-item>
    <ion-label position="floating">Buscar Usuario</ion-label>
    <ion-input #searchInput placeholder="Ingrese nombre de usuario" (ionInput)="onInputChange($event)"></ion-input>
  </ion-item>

  <div class="password">
    <ion-button id="searchButton" color="primary" (click)="getUserLikebyName()">Buscar</ion-button>
  </div>

  <ion-list *ngIf="filteredUsers.length > 0 && find">
    <ion-list-header>
      <ion-label>Usuarios Encontrados</ion-label>
    </ion-list-header>
  
    <ion-item *ngFor="let user of filteredUsers">
      <!-- Contenedor principal del usuario -->
      <div class="user-container">
        <ion-label class="user-name">{{ user.fullName }}</ion-label>
  
        <!-- Contenedor de botones alineados a la derecha -->
        <div class="button-container">
          <ion-button class="view-button" fill="clear" (click)="onViewDetails(user)">
            <ion-icon name="eye-outline"></ion-icon> <!-- Icono para ver detalles -->
          </ion-button>
          <ion-button class="edit-button" fill="clear" (click)="onEditUser(user)">
            <ion-icon name="create-outline"></ion-icon> <!-- Icono para editar -->
          </ion-button>
          <ion-button class="delete-button" fill="clear" (click)="onDeleteUser(user)">
            <ion-icon name="trash-outline"></ion-icon> <!-- Icono para eliminar -->
          </ion-button>
        </div>
      </div>
    </ion-item>
  </ion-list>
  

  <!-- Mensaje cuando no hay usuarios -->
  <ion-card *ngIf="msgScreen != 'empty' && !find">
    <ion-card-header>
      <ion-card-title>{{msgScreen}}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card *ngIf="logMessages.length > 0">
    <ion-card-header>
      <div *ngFor="let log of logMessages">
        <p>{{ log }}</p>
      </div>
      <div class="password">
        <ion-button color="danger" (click)="onDeleteLogs()">Borrar Log</ion-button>
      </div>
    </ion-card-header>
  </ion-card>

</ion-content>
