<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Editar Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container-father">
    <form [formGroup]="userForm" (ngSubmit)="onEditUser()">
      <ion-item>
        <ion-label position="floating">Nombre de Usuario</ion-label>
        <ion-input formControlName="userName" required [disabled]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nombre Completo</ion-label>
        <ion-input formControlName="fullName" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input type="email" formControlName="email" required></ion-input>
      </ion-item>
      <ion-list>
        <ion-item>
          <ion-select formControlName="rol" label="Rol" interface="action-sheet" label-placement="floating" required>
            <ion-select-option value="1">Administrador</ion-select-option>
            <ion-select-option value="2">Garzon</ion-select-option>
            <ion-select-option value="3">Cocinero</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="password" type="password" required></ion-input>
      </ion-item>
      <div class="password">
        <ion-button id="addButton" type="submit" color="success" [disabled]="userForm.invalid">Guardar</ion-button>
      </div>
      <div class="password">
        <ion-button id="backButton" color="warning" (click)="navigateToUser()">Volver</ion-button>
      </div>
    </form>
  </div>
</ion-content>
