<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gestión de Mesas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <!-- Botón para agregar una nueva mesa -->
      <ion-button id="addBoardButton" color="success" (click)="toAddBoard()">Añadir Mesa</ion-button>
    </ion-col>
    <!-- <ion-col class="ion-text-right">
      <ion-button id="syncButton" color="secondary" (click)="syncBoardsWithApi()">Sincronizar</ion-button>
    </ion-col> -->
  </ion-row>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mesas</ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-label position="floating">Buscar Mesa</ion-label>
      <ion-input #searchInput placeholder="Ingrese número de mesa" (ionInput)="onInputChange($event)"></ion-input>
    </ion-item>

    <div class="password">
      <ion-button id="searchButton" color="primary" (click)="searchBoard()" (ionInput)="onInputChange($event)">Buscar</ion-button>
    </div>

    <ion-card-content>
      <ion-list *ngIf="find">

        <ion-item *ngFor="let board of filteredBoards">
          <div class="board-container">
            <ion-label class="board-number">Mesa #{{ board.boardNum }}</ion-label>

            <ion-label class="board-capacity">Capacidad: {{ board.capacity }}</ion-label>

            <ion-label class="board-status">
              Estado: {{ board.status == 1 ? 'Disponible' : 'Ocupada' }}
            </ion-label>

            <div class="button-container">
              <!-- <ion-button class="view-button" fill="clear" (click)="onViewBoardDetails(board)">
                <ion-icon name="eye-outline"></ion-icon>
              </ion-button> -->
              <ion-button class="edit-button" fill="clear" (click)="onEditBoard(board)">
                <ion-icon name="create-outline"></ion-icon>
              </ion-button>
              <ion-button class="delete-button" fill="clear" (click)="onDeleteBoard(board)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
              <ion-button class="change-button" fill="clear" (click)="toggleBoardStatus(board)">
                <ion-icon name="swap-horizontal-outline"></ion-icon>
              </ion-button>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>  
</ion-content>
